.navigation-panel {
  position: relative; 
  height: 100%; 
}

.music-button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 5px;
  bottom: 20px;   /* 하단에서 20px 띄우기 */
}


/* 데스크탑 (넓은 화면) */
@media (min-width: 1174px) {
  .music-button {
    display: flex;      /* 데스크탑에서 보이도록 */
  }
}

/* 패드 (중간 화면, 예: 889px ~ 1174px) */
@media (min-width: 889px) and (max-width: 1174px) {
  .music-button {
    display: flex;      /* 패드에서도 보이도록 */
  }
}

/* 모바일 (889px 이하) */
@media (max-width: 889px) {
  .music-button {
    display: none;      /* 모바일에서는 숨기기 */
  }
}

/* 낮 테마 (기본) */
body.theme-default .music-button svg {
  fill: #333;
}

/* 밤 테마 */
body.theme-dark .music-button svg {
  fill: #eee;
}
